# 1.3.1 算術計算

In [1]:
1 - 2

-1

In [2]:
4 * 5

20

In [5]:
# floatで表示される
7 / 5

1.4

In [6]:
# 小数点を省いた数　
7 // 5

1

In [4]:
# 階乗計算
3 ** 2

9

# 1.3.2 データ型

In [8]:
 type(10)

int

In [9]:
type(2.718)

float

In [10]:
type("hello")

str

In [11]:
# 型が異なるとエラーがでる
type("10" + 10)

TypeError: can only concatenate str (not "int") to str

In [13]:
type("10" + str(10))

str

In [14]:
type(int("10") + 10)

int

In [15]:
# intとfloatを足したらfloatになる
type(10 + 1.5)

float

# 1.3.3 変数

In [1]:
# 初期化
x = 10
print(x)

10

In [3]:
# 代入
x = 100
print(x)

100

In [4]:
y = 3.14

In [5]:
x * y

314.0

In [6]:
type(x*y)

float

In [7]:
print(int(x*y))
# キャストすると
type(int(x*y))

314

int

In [8]:
s = "hello"

In [9]:
type(s)

str

In [10]:
s + y

TypeError: can only concatenate str (not "float") to str

In [11]:
s + str(y)

'hello3.14'

In [14]:
type(s + str(y))

str

In [15]:
# 文字列も定義できる
s = "134"

In [16]:
type(s)

str

In [17]:
int(s)

134

In [18]:
float(s)

134.0

# 1.3.4 リスト

In [35]:
a = [1, 3 ,4, 5, 6.7 , "hello", [2,3,4]]

In [36]:
type(a)

list

In [37]:
# 数値を指定して取得できる
a[0]

1

In [38]:
type(a[0])

int

In [40]:
# リストにはint型もfloat型もstr型もlistも入れられる
for l in a:
    print(type(l))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>